/*
!.gitignore
!Materiales
!Rubros
!Proveedores

!Page
Page/*
!Page/Sidebar

!Workshop
Workshop/*
!Workshop/Sidebar

!Translation
Translation/*
!Translation/Sidebar

!Menu
Menu/*
!Menu/Sidebar

!Dashboard
Dashboard/*
!Dashboard/Sidebar